<button id="add-task-btn">Add New Task</button>
<li class="list-group-item" id="new-task-form" style="display: none;" class="d-flex justify-content-start">
  <form action="{{ url_for('tasks.add_task', list_name=list_name) }}" method="POST">
      {{ task_form.csrf_token }}
      {{ task_form.title.label(class_='font-weight-bold') }} {{ task_form.title() }}
      {{ task_form.due.label }} {{ task_form.due() }}
      {{ task_form.priority.label }} {{ task_form.priority() }}
      {{ task_form.description.label }} {{ task_form.description(class_='custom-textarea') }}
      {{ task_form.add_task(type="submit") }}
  </form>
</li>
